@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sideWidth: 30%;
}

body {

    margin: 0;
    background-color: rgb(214, 214, 219);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: rgb(68, 67, 67);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.Container .LeftSide {
    background-color: rgb(56, 61, 75);
    width: var(--sideWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container .RightSide {
    padding: 20px;
    background-color: rgb(219, 213, 213);
    width: calc(100% - var(--sideWidth));
}

img {
    height: 100%;
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
}

.imageContainer {
    margin-top: 10%;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.leftText {
    margin-top: 10%;
    text-align: left;
    width: 90%;
    font-size: 1em;
    color: antiquewhite;
}

.leftText>h2 {
    margin-top: 10%;
}

.leftText p {
    color: rgb(180, 180, 180);
    margin-left: 20px;
    font-size: .75em;
    margin-top: 10px;
}
.rightText p{
    margin-left: 20px;
    font-size: .9em;
    margin: 10px 0;
}

.name {
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textLine {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 13ch .95fr;
    grid-template-areas: "p d";
}

.textLine div {
    margin-top: 7px;
    height: 10px;
    grid-area: d;
    background-color: rgb(56, 61, 75);
}

.textLine p {
    grid-area: p;
}

table {
    width: 100%;
}

table td {
    padding: 10px;
    text-align: center;
    font-size: .9em;
}

.skills1 {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
}

.skills2 {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.skills {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

ul {
    margin-left: 50px;
    font-size: .9em;
}
@media (max-width:480px) {
    .Container {
        flex-direction: column;
    }
    .Container .LeftSide{
        padding: 30px;
        width: 100%;
    }
    .Container .RightSide{
        width: 100%;
    }
}